@import 'variables.scss';


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}
.logo {
    font-size: 16px;
}

.navBar {
    font-size: 16px;
    float: right;
}


/* HEADER ENDS */



