<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Article Evaluation</title>
        <!--<link rel="stylesheet" href="src/styles/base.css">-->
    </head>
    <body>
        <header>
            <a class="Logo">Logo</a>
            <a class="navBar">Navigation</a>
        </header>
        <body>
            <section id="title">
                <div class="title">
                    <h1>Analyze an Article or Blog Post</h1>
                </div>
            </section>
                <section id="section1">
                    <form class="" onsubmit="return Client.handleSubmit(event)">
                        <input id="name" type="url" name="test-url" value=""  placeholder="https://www.news-source/a-news-article...">
                        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    </form>
                <section>
                <section id="section2">
                    <strong>Form Results:</strong>
                    <div id="results"></div>
                </section>
            </body>
            <footer>
                <p>This is a footer</p>
            </footer>
        <!--<script src="/index.js" type="module"></script>-->
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
